/*
 * css stylesheet rules common to all cvrti web pages.
 */

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: smaller;
/*  background-image: url(images/background.gif);
  background-repeat: repeat; */
  background-color: white;
  color: rgb(48, 48, 48);
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

a:link {
  color: #3090FF;
  text-decoration: none;
}

a:visited {
  color: #3090FF;
  text-decoration: none;
}

a:hover {
  color: red;
}

div.page-title {
  font-weight: bold;
  color: black;
  font-size: 160%;
  margin-bottom: 1.5em;
}

h1 {
  font-weight: bold;
  color: black;
  font-size: 145%;
}

h2 {
  font-weight: bold;
  font-size: 125%;
  color: black
}

#about-this-site {
  margin-top: 0.25em;
  border-top: thin solid lightgrey;
}

a.nav-link {
  display: block;
  text-align: left;
  text-decoration: none;
  width: 1.4in;
}

a.nav-link:link {
  color: #3090FF;
  text-decoration: none;
}

a.nav-link:visited {
  color: #3090FF;
  text-decoration: none;
}

a.nav-link:hover {
  color: red;
}

div#page-category {
  display: none;
}

div.page-category-text {
  position: absolute;
  top: 10px;
  left: 175px;
  color: red;
  font-weight: bold;                                
  font-variant: small-caps;
  font-size: 2.5em;
}

div.page-category-text-shadow {
  position: absolute;
  top: 12px;
  left: 177px;
  width: 500px;
  color: black;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 2.5em;
}

div.nav-links {
  position: absolute;
  top: 295px;
  left: 30px;
}

div#content {
  position: absolute;
  top: 100px;
  left: 200px;
}

div.footer {
  padding-top: 10px;
  border-top: medium solid lightgrey;
  font-size: x-small;
  margin-top: 2em;          
  margin-left: auto;
  margin-right: auto;             
  text-align: center;
  width: 75%;
}

img.frame-top {
  display: block;
  position: absolute;
  top: 0px;
  left: 173px;
}

img.block {
  display: block;
  border-style: none;
}
div.frame-left {
  position: absolute;
  top: 0px;
  left: 0px;
}

div.clear-float { 
  clear: both;
}

div.clear-float-left { 
clear: left;
}

div.clear-float-right { 
clear: right;
}

div.header-stripe {
 margin-left: 0;
 margin-right: 5%;
 margin-bottom: 1.5em;
 border-bottom: thick solid lightgrey;
}

div.thick-stripe {
 margin-left: 0;
 margin-right: 5%;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 border-bottom: thick solid lightgrey;
}

div.medium-stripe {
 margin-left: 0;
 margin-right: 5%;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 border-bottom: medium solid lightgrey;
}

div.thin-stripe {
 margin-left: 0;
 margin-right: 5%;
 margin-top: 1.5em;
 margin-bottom: 1.5em;
 border-bottom: thin solid lightgrey;
}

div.header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

div.image-header {
  text-align: center;
  margin-bottom: 2em;
}

div.subject {
  float: left;
  font-weight: bold;
  color: black;
}

div.subject-info {
  margin-bottom: 2em;
  margin-left: 30%;
  margin-right: 5%;
}

div.entry {}

div.entry-odd {
   background-color: rgb(215, 215, 215);
}

.emph {
  color: black;
}

.name {}

.caption { 
  font-weight: bold;            
  color: black;
}

.date {
  font-weight: bold;
  color: black;
}

.time {
  font-weight: normal;
  color: black;
}

.place {
  font-weight: normal;
  color: black;
}

.speaker {
  margin-bottom: 0.5em;
}

.abstract {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

.address {
  margin-bottom: 0.5em;
} 

.email {}

.phone {}

.fax {}

span.fignum {
  font-weight: bold;
}

div.fignum {
  font-weight: bold;
  text-align: center;
}

